<nav class="border-b-2 border-gray-200">
	<div class="max-w-screen-xl flex items-center justify-between mx-auto p-4">
		<a href="./" class="flex items-center text-xl font-bold">
			{{ current_instance().getSetting('name') }}
		</a>

		<div class="flex space-x-4">
			<input class="flex items-center px-2 py-2 rounded-lg bg-stone-100 hover:bg-stone-200" placeholder="Search"></input>

		{% if app.user is null or is_granted('IS_ANONYMOUS') %}
			<button class="flex items-center px-4 py-2 rounded-lg bg-stone-100 hover:bg-stone-200 font-bold text-nowrap">Log in</button>
		{% endif %}

		<button class="flex w-1/6 items-center px-4 py-2 rounded-lg bg-stone-100 hover:bg-stone-200">
			<svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
				<g clip-path="url(#clip0_45_31)">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M16.875 3.125H3.125C2.43464 3.125 1.875 3.68464 1.875 4.375V15.625C1.875 16.3154 2.43464 16.875 3.125 16.875H16.875C17.5654 16.875 18.125 16.3154 18.125 15.625V4.375C18.125 3.68464 17.5654 3.125 16.875 3.125ZM16.875 15.625H3.125V4.375H16.875V15.625ZM13.75 6.875C13.75 8.94607 12.0711 10.625 10 10.625C7.92893 10.625 6.25 8.94607 6.25 6.875C6.25 6.52982 6.52982 6.25 6.875 6.25C7.22018 6.25 7.5 6.52982 7.5 6.875C7.5 8.25571 8.61929 9.375 10 9.375C11.3807 9.375 12.5 8.25571 12.5 6.875C12.5 6.52982 12.7798 6.25 13.125 6.25C13.4702 6.25 13.75 6.52982 13.75 6.875Z" fill="#1C120D"/>
				</g>
				<defs>
					<clipPath id="clip0_45_31">
						<rect width="20" height="20" fill="white"/>
					</clipPath>
				</defs>
			</svg>
		</button>
		{{app.user}}

		{% if app.user is not null and not is_granted('IS_ANONYMOUS') %}
			<button class="flex w-1/6 items-center px-4 py-2 rounded-lg bg-stone-100 hover:bg-stone-200">
				<svg width="20px" height="20px" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
					<circle cx="12" cy="6" r="4" stroke="#1C274C" stroke-width="1.5"/>
					<path d="M15 20.6151C14.0907 20.8619 13.0736 21 12 21C8.13401 21 5 19.2091 5 17C5 14.7909 8.13401 13 12 13C15.866 13 19 14.7909 19 17C19 17.3453 18.9234 17.6804 18.7795 18" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"/>
				</svg>
			</button>
		{% endif %}
	</div>
</div></nav>
