<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}

		<script src="https://cdn.tailwindcss.com"></script>
		<script>
			tailwind.config = {
			theme: {
				extend: {
					colors: {
						accent: 'var(--accent-color)',
      					secondary: 'var(--secondary-color)',
					}
				}
			}
			}
		</script>
		<style>
			:root {
				--accent-color: {{ current_instance().getSetting('accent') ?? '#FFFFFF' }};
				--secondary-color: {{ current_instance().getSetting('secondary ') ?? '#E9E9E9' }};
			}
		</style>
	</head>
	<body>
		{% include './_partials/navbar.html.twig' %}
		<div class="pb-20">
		{% block body %}{% endblock %}
		</div>
        {% include './_partials/footer.html.twig' %}
	</body>
</html>
