{% extends 'base.html.twig' %}

{% block title %}Payment{% endblock %}

{% block body %}
<h1>Complete Payment</h1>

<form id="payment-form">
    <div id="card-element"><!-- A Stripe Element will be inserted here --></div>
    <button id="submit">Pay</button>
    <div id="error-message"></div>
</form>

<script src="https://js.stripe.com/v3/"></script>
<script >
document.addEventListener("DOMContentLoaded", function() {
const stripe = Stripe('{{ stripe_public_key }}');

async function init(){
    const checkout = await stripe.initEmbeddedCheckout({'{{ session }}'})
    checkout.mount('#card-element')
}
init()
})
</script>
{% endblock %}
